/* Cores */
/* Fontes */
/* Zerar HTML */
* {
  margin: 0px;
  border: none;
  padding: 0px;
  outline: none;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: -webkit-sticky;
  position: sticky;
  scroll-behavior: smooth;
  background: #f5f5f5;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  width: 100vw;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 60px;
  background: transparent;
  position: fixed;
  left: 0;
  top: 0;
}

header div {
  width: auto;
  height: auto;
}

header div a {
  color: #fff;
  font-size: 27px;
  font-family: "Baloo 2";
}

header .hamburguer {
  opacity: 0;
}

header ul {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul li:nth-child(1) {
  width: 120px;
  height: 35px;
  text-align: center;
  display: none;
  cursor: pointer;
  opacity: 0;
}

header ul li:nth-child(1) a {
  color: #fff;
  font-size: 19px;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

header ul li:nth-child(2) {
  width: 120px;
  height: 35px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #fff;
}

header ul li:nth-child(2) a {
  color: #fff;
  font-size: 17px;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0px;
}

header ul li:nth-child(2):hover {
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

header ul li:nth-child(2):hover a {
  color: #000;
}

header ul li:nth-child(2):not(:hover) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header ul li:nth-child(3) {
  width: 120px;
  height: 35px;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #fff;
  border: 1px solid #fff;
}

header ul li:nth-child(3) a {
  color: #000;
  font-size: 17px;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0px;
}

header ul li:nth-child(3):hover {
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

header ul li:nth-child(3):hover a {
  color: #fff;
  font-weight: 700;
}

header ul li:nth-child(3):not(:hover) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header {
  height: 60px;
  background: #f5f5f5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.header div a {
  color: #2c8560;
}

.header .hamburguer {
  z-index: 1;
}

.header ul li:nth-child(1) {
  cursor: pointer;
}

.header ul li:nth-child(1) a {
  color: #2c8560;
  cursor: pointer;
}

.header ul li:nth-child(2) {
  border: 1px solid #2c8560;
}

.header ul li:nth-child(2) a {
  color: #2c8560;
}

.header ul li:nth-child(2):hover {
  background-color: #2c8560;
  border: 1px solid #2c8560;
}

.header ul li:nth-child(2):hover a {
  color: #fff;
  font-weight: 500;
}

.header ul li:nth-child(2):not(:hover) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header ul li:nth-child(3) {
  background-color: #2c8560;
  border: 1px solid #2c8560;
}

.header ul li:nth-child(3) a {
  color: #fff;
  font-weight: 500;
}

.header ul li:nth-child(3):hover {
  border: 1px solid #2c8560;
}

.header ul li:nth-child(3):hover a {
  color: #2c8560;
  font-weight: 700;
}

.header ul li:nth-child(3):not(:hover) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.step1 {
  width: 100vw;
  height: 100vh;
  margin: 0px 0px 0px;
  background-image: url(../img/pexels-photo-247791.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.step1 .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 15%;
  background-color: rgba(0, 0, 0, 0.8);
}

.step1 .container div {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.step1 .container div p {
  width: 100%;
  height: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.step1 .container div p span {
  width: 100%;
  display: block;
  font-size: clamp(1.1rem, 1.3rem, 1.7rem);
  font-family: "Poppins";
  color: #fff;
  line-height: 50px;
  letter-spacing: 1px;
}

.step1 .container div p span:nth-child(4) {
  color: #fff;
  font-family: "Poppins";
  font-size: clamp(2rem, 8.5vw, 3.5rem);
  margin-top: 25px;
  letter-spacing: 5px;
}

aside {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

aside .container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  font-family: "Raleway";
  line-height: 50px;
}

aside .container div:nth-child(1) {
  width: 40%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside .container div:nth-child(1) ul {
  /*
                li:nth-child(2) {
                    list-style-type: "\2680";
                }
                li:nth-child(3) {
                    list-style-type: "\2681";
                }
                li:nth-child(4) {
                    list-style-type: "\2682";
                }
                li:nth-child(5) {
                    list-style-type: "\2683";
                }
                li:nth-child(6) {
                    list-style-type: "\2684";
                }
                */
}

aside .container div:nth-child(1) ul span {
  color: #2c8560;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 3px;
  border-bottom: 1px solid #2c856091;
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
}

aside .container div:nth-child(1) ul li {
  color: #2c8560dd;
  font-weight: 600;
  list-style: inside decimal-leading-zero;
  font-size: 2.5em;
  letter-spacing: 3px;
}

aside .container div:nth-child(1) ul li span {
  color: #2c8560dd;
  letter-spacing: 1px;
  font-size: 15px;
  border: none;
  opacity: 0;
}

aside .container div:nth-child(1) ul li:hover span {
  color: #2c8560dd;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

aside .container div:nth-child(1) ul li:not(:hover) span {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

aside .container div:nth-child(2) {
  width: 40%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside .container div:nth-child(2) figure {
  width: 300px;
  height: 380px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

aside .container div:nth-child(2) figure img {
  width: 350px;
  height: 615px;
  position: absolute;
  top: -35px;
  left: -25px;
}

.step2 {
  width: 100vw;
  height: 100vh;
  background: #2c8560;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.step2 .container {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.step2 .container div {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.step2 .container div span {
  width: 100%;
  display: block;
  font-size: clamp(1.3rem, 1.5rem, 1.7rem);
  font-family: "Poppins";
  color: #fff;
  line-height: 35px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 10px;
}

.step2 .container div ul {
  font-family: "Poppins";
  line-height: 40px;
}

.step2 .container div ul li {
  color: #fff;
  font-weight: 600;
  list-style: inside decimal-leading-zero;
  font-size: 1.5em;
  letter-spacing: 3px;
}

.step2 .container div ul li a {
  color: #fff;
  padding-left: 5px;
}

.step3 {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/pexels-photo-2330137.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Baloo 2";
}

.step3 .container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-left: 15%;
}

.step3 .container div {
  width: 350px;
  height: auto;
}

.step3 .container div h1 {
  font-size: calc(1em + 1vw);
  color: #fff;
  font-weight: 100;
}

.step3 .container div p {
  font-size: calc(0.5em + 1vw);
  color: #fff;
}

.step3 .container div p a {
  color: #fff;
}

.step3 .container div p i {
  font-size: 25px;
  margin-right: 5px;
  color: #fff;
}

.step3 .container div .form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.step3 .container div .form fieldset {
  border: none;
  position: relative;
}

.step3 .container div .form legend {
  font-size: 15px;
  visibility: hidden;
  position: relative;
  top: 20px;
  left: 17px;
  color: #fff;
  font-family: "Baloo 2";
}

.step3 .container div .form legend span {
  color: #ff002f;
}

.step3 .container div .form input {
  width: 100%;
  height: 35px;
  margin: 5px auto;
  outline: none;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  border-radius: 3px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.step3 .container div .form input::-webkit-input-placeholder {
  font-family: "Baloo 2";
  font-size: 1rem;
  color: #000;
}

.step3 .container div .form input:-ms-input-placeholder {
  font-family: "Baloo 2";
  font-size: 1rem;
  color: #000;
}

.step3 .container div .form input::-ms-input-placeholder {
  font-family: "Baloo 2";
  font-size: 1rem;
  color: #000;
}

.step3 .container div .form input::placeholder {
  font-family: "Baloo 2";
  font-size: 1rem;
  color: #000;
}

.step3 .container div .form input:focus {
  outline: none;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.step3 .container div .form input:not(:focus) {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.step3 .container div .form input:focus ~ legend {
  color: #fff;
  visibility: visible;
  top: 0px;
  left: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.step3 .container div .form input:focus::-webkit-input-placeholder {
  visibility: hidden;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.step3 .container div .form input:focus:-ms-input-placeholder {
  visibility: hidden;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.step3 .container div .form input:focus::-ms-input-placeholder {
  visibility: hidden;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.step3 .container div .form input:focus::placeholder {
  visibility: hidden;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.step3 .container div .form input:valid {
  border-bottom: 1px solid rgba(0, 255, 0, 0.5);
  -webkit-box-shadow: 1px 3px 5px rgba(0, 255, 0, 0.5);
          box-shadow: 1px 3px 5px rgba(0, 255, 0, 0.5);
}

.step3 .container div .form input:valid ~ legend {
  color: rgba(0, 255, 0, 0.9);
  visibility: visible;
  top: 0px;
  left: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.step3 .container div .form input:valid ~ legend span {
  color: rgba(0, 255, 0, 0.9);
}

.step3 .container div .form input:focus:valid {
  -webkit-box-shadow: 1px 3px 5px rgba(0, 255, 0, 0.5);
          box-shadow: 1px 3px 5px rgba(0, 255, 0, 0.5);
}

.step3 .container div .form input:not(:placeholder-shown):invalid {
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
  -webkit-box-shadow: 1px 3px 5px rgba(255, 0, 0, 0.5);
          box-shadow: 1px 3px 5px rgba(255, 0, 0, 0.5);
}

.step3 .container div .form input:focus:valid ~ legend {
  color: rgba(0, 255, 0, 0.7);
}

.step3 .container div .form input:not(:placeholder-shown):invalid ~ legend {
  color: rgba(255, 0, 0, 0.9);
  visibility: visible;
  top: 0px;
  left: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.step3 .container div .form input:focus:not(:placeholder-shown):invalid {
  -webkit-box-shadow: 1px 3px 5px rgba(255, 0, 0, 0.5);
          box-shadow: 1px 3px 5px rgba(255, 0, 0, 0.5);
}

.step3 .container div .form input:focus:not(:placeholder-shown):invalid ~ legend {
  color: rgba(255, 0, 0, 0.9);
}

.step3 .container div .form textarea {
  width: 100%;
  height: 100px;
  margin: 25px auto 0px;
  outline: none;
  border: 1px rgba(255, 255, 255, 0.7) solid;
  border-radius: 3px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 1rem;
  font-family: "Baloo 2";
  background-color: rgba(255, 255, 255, 0.7);
  resize: none;
}

.step3 .container div .form textarea::-webkit-input-placeholder {
  font-family: "Baloo 2";
  font-size: 1rem;
  color: #000;
}

.step3 .container div .form textarea:-ms-input-placeholder {
  font-family: "Baloo 2";
  font-size: 1rem;
  color: #000;
}

.step3 .container div .form textarea::-ms-input-placeholder {
  font-family: "Baloo 2";
  font-size: 1rem;
  color: #000;
}

.step3 .container div .form textarea::placeholder {
  font-family: "Baloo 2";
  font-size: 1rem;
  color: #000;
}

.step3 .container div .form textarea:focus {
  outline: none;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.step3 .container div .form textarea:not(:focus) {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.step3 .container div .form input[type="submit"] {
  width: 100%;
  background-color: #2c8560;
  color: #fff;
  border: none;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  font-family: "Baloo 2";
  font-size: 1.2rem;
}

footer {
  width: 100vw;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: "Baloo 2";
  background-color: #2c8560;
  padding: 0px 5vw;
}

footer div:nth-child(1) {
  width: 50vw;
  height: auto;
  color: #fff;
  font-family: "Raleway";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer div:nth-child(1) p {
  font-size: 1.1rem;
  font-family: "Raleway";
  letter-spacing: 1px;
  text-align: left;
}

footer div:nth-child(2) {
  width: 40vw;
  height: auto;
  color: #fff;
  font-family: "Raleway";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div:nth-child(2) p {
  font-size: 1.1rem;
  font-family: "Raleway";
  letter-spacing: 1px;
  text-align: right;
}

@media only screen and (max-width: 1000px) {
  .step2 {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .step2 .container div {
    width: 90%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .step2 .container div span {
    font-size: clamp(1.2rem, 1.4rem, 1.6rem);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media only screen and (max-width: 768px) {
  header {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .hamburguer {
    opacity: 1;
    position: absolute;
    left: 87%;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .hamburguer i {
    font-size: 65px;
    color: #fff;
  }
  header ul {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-right: -14px;
    padding: 0px 15px 0px 0px;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 10px;
    z-index: 1;
    display: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header ul li:nth-child(1) {
    width: 100px;
    position: relative;
    margin: 3px;
    padding: 0px;
    display: none;
  }
  header ul li:nth-child(1) a {
    color: #2c8560;
  }
  header ul li:nth-child(2) {
    width: 100px;
    position: relative;
    margin: 5px;
    padding: 0px;
    border: none;
    border-bottom: 1px solid #2c8560;
  }
  header ul li:nth-child(2) a {
    color: #2c8560;
  }
  header ul li:nth-child(2):hover {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #2c8560;
  }
  header ul li:nth-child(2):hover a {
    color: #2c8560;
    font-weight: 500;
  }
  header ul li:nth-child(2):not(:hover) {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header ul li:nth-child(3) {
    width: 100px;
    position: relative;
    margin: 5px;
    padding: 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #2c8560;
  }
  header ul li:nth-child(3) a {
    color: #2c8560;
    font-weight: 500;
  }
  header ul li:nth-child(3):hover {
    background: transparent;
    border: none;
    border-bottom: 1px solid #2c8560;
  }
  header ul li:nth-child(3):hover a {
    color: #2c8560;
  }
  header ul li:nth-child(3):not(:hover) {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .step2 .container div {
    width: 80%;
    height: 100%;
  }
  .step2 .container div span {
    font-size: clamp(1.3rem, 1.5rem, 1.7rem);
  }
  footer {
    height: 10vh;
  }
  footer div:nth-child(1) p {
    font-size: 1rem;
    font-family: "Raleway";
    letter-spacing: 1px;
    text-align: left;
  }
  footer div:nth-child(2) p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 425px) {
  header {
    width: 100vw;
    padding: 0px;
  }
  header div {
    position: absolute;
    left: 5%;
  }
  header div a {
    font-size: 23px;
  }
  header .hamburguer {
    left: 85%;
  }
  header .hamburguer i {
    font-size: 50px;
  }
  header ul {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-right: -14px;
    padding: 0px 15px 0px 0px;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 10px;
    z-index: 1;
    display: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header ul li:nth-child(1) {
    width: 100px;
    position: relative;
    margin: 3px;
    padding: 0px;
    display: none;
  }
  header ul li:nth-child(1) a {
    color: #2c8560;
  }
  header ul li:nth-child(2) {
    width: 100px;
    position: relative;
    margin: 5px;
    padding: 0px;
    border: none;
    border-bottom: 1px solid #2c8560;
  }
  header ul li:nth-child(2) a {
    color: #2c8560;
  }
  header ul li:nth-child(2):hover {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #2c8560;
  }
  header ul li:nth-child(2):hover a {
    color: #2c8560;
    font-weight: 500;
  }
  header ul li:nth-child(2):not(:hover) {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header ul li:nth-child(3) {
    width: 100px;
    position: relative;
    margin: 5px;
    padding: 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #2c8560;
  }
  header ul li:nth-child(3) a {
    color: #2c8560;
    font-weight: 500;
  }
  header ul li:nth-child(3):hover {
    background: transparent;
    border: none;
    border-bottom: 1px solid #2c8560;
  }
  header ul li:nth-child(3):hover a {
    color: #2c8560;
  }
  header ul li:nth-child(3):not(:hover) {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .step1 {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .step1 .container {
    padding: 5%;
  }
  .step1 .container div {
    width: 90%;
  }
  .step1 .container div p {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .step1 .container div p span {
    font-size: clamp(0.7rem, 0.85rem, 0.9rem);
    line-height: 50px;
    letter-spacing: 0px;
    font-weight: 600;
  }
  .step1 .container div p span:nth-child(4) {
    font-size: clamp(1rem, 2rem, 3rem);
    letter-spacing: 3px;
  }
  aside .container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  aside .container div:nth-child(1) {
    width: 90%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  aside .container div:nth-child(1) ul span {
    font-size: 1.3em;
  }
  aside .container div:nth-child(1) ul li {
    font-size: 2em;
  }
  aside .container div:nth-child(1) ul li span {
    font-size: 15px;
  }
  aside .container div:nth-child(1) ul li:hover span {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  aside .container div:nth-child(1) ul li:not(:hover) span {
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  aside .container div:nth-child(2) {
    display: none;
  }
  aside .container div:nth-child(2) figure img {
    position: absolute;
  }
  .step2 {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .step2 .container {
    width: 90%;
  }
  .step2 .container div {
    width: 100%;
  }
  .step2 .container div span {
    font-size: clamp(0.7rem, 1.05rem, 1.2rem);
    letter-spacing: 1px;
  }
  .step2 .container div ul li {
    font-size: 1.1em;
  }
  .step2 .container div ul li a {
    padding-left: 5px;
  }
  .step3 .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0%;
  }
  .step3 .container div {
    width: 270px;
  }
  .step3 .container div h1 {
    font-size: calc(1.1rem + 1vw);
  }
  .step3 .container div p {
    font-size: calc(.7em + 1vw);
  }
  .step3 .container div p a {
    color: #fff;
  }
  .step3 .container div p i {
    font-size: 25px;
  }
  footer {
    width: 100vw;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font: "Baloo 2";
    background-color: #2c8560;
    padding: 0px 5vw;
  }
  footer div:nth-child(1) {
    width: 60vw;
    height: auto;
    color: #fff;
    font-family: "Raleway";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer div:nth-child(1) p {
    font-size: .5rem;
    font-family: "Raleway";
    letter-spacing: 1px;
    text-align: left;
  }
  footer div:nth-child(2) {
    width: 40vw;
    height: auto;
    color: #fff;
    font-family: "Raleway";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer div:nth-child(2) p {
    font-size: .7rem;
    font-family: "Raleway";
    letter-spacing: 1px;
    text-align: right;
  }
}
/*# sourceMappingURL=style.css.map */